In [3]:
import torch

In [5]:
import torch.nn as nn

In [10]:
X = [
    [1.0, 2.0, 3.0, 10.0],
    [2.0, 1.0, 0.5, 8.0],
    [3.0, 2.5, 1.0, 13.0],
    [4.0, 3.5, 2.0, 20.0],
    [5.0, 2.0, 1.5, 18.0],
    [6.0, 4.0, 3.0, 25.0],
    [7.0, 3.5, 2.5, 24.0],
    [8.0, 5.0, 3.5, 30.0]
]

In [11]:
import pandas as pd
data=pd.DataFrame(X)

In [12]:
#data
data

     0    1    2     3
0  1.0  2.0  3.0  10.0
1  2.0  1.0  0.5   8.0
2  3.0  2.5  1.0  13.0
3  4.0  3.5  2.0  20.0
4  5.0  2.0  1.5  18.0
5  6.0  4.0  3.0  25.0
6  7.0  3.5  2.5  24.0
7  8.0  5.0  3.5  30.0